//
//  BBEnviroments.xcconfig
//  BatteryBoi - Recharged
//
//  Configuration settings file format documentation can be found at:
//  https://help.apple.com/xcode/#/dev745c5c974

// Donate URLs (optional - leave empty to hide donate buttons)
DONATE_BUYMEACOFFEE_URL = https://buymeacoffee.com/ananddesai
DONATE_KOFI_URL = https://ko-fi.com/ananddesai

// GitHub repository for updates
GITHUB_REPO_URL = https:/$()/github.com/desaianand1/BatteryBoi-Recharged
