<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_APPLE_ID</key>
	<string>$(APP_APPLE_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nirnshard.batteryboirecharged</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>batteryboi</string>
			</array>
		</dict>
	</array>
	<key>WEBSITE_URL</key>
	<string>$(WEBSITE_URL)</string>
	<key>GITHUB_REPO_URL</key>
	<string>$(GITHUB_REPO_URL)</string>
	<key>DONATE_BUYMEACOFFEE_URL</key>
	<string>$(DONATE_BUYMEACOFFEE_URL)</string>
	<key>DONATE_KOFI_URL</key>
	<string>$(DONATE_KOFI_URL)</string>
	<key>DEV_WEBSITE_URL</key>
	<string>$(DEV_WEBSITE_URL)</string>
	<key>ORIGINAL_AUTHOR_URL</key>
	<string>$(ORIGINAL_AUTHOR_URL)</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>DATA_POLICY_URL</key>
	<string>$(DATA_POLICY_URL)</string>
	<key>SUPPORT_ISSUES_URL</key>
	<string>$(SUPPORT_ISSUES_URL)</string>
	<key>MDItemKeywords</key>
	<string>Battery,Power,BatteryBoi,Energy</string>
	<key>SUFeedURL</key>
	<string>https://github.com/desaianand1/BatteryBoi-Recharged/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>luVX4/2YuPZ5Ly2UfWCf+Mr+63xxC642sFONANdzGek=</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SentryEnvironment</key>
	<string>$(SENTRY_ENVIRONMENT)</string>
	<key>SentryProfilesSampleRate</key>
	<string>$(SENTRY_PROFILES_SAMPLE_RATE)</string>
	<key>SentryTracesSampleRate</key>
	<string>$(SENTRY_TRACES_SAMPLE_RATE)</string>
</dict>
</plist>
